html{
    scroll-behavior: smooth;   
}
body{
    margin: 0;
    text-decoration: none;
    /* ISSE SIMPLE RHEGI TEXT STYLE */
    font-family: "Lato", sans-serif; 
    background: linear-gradient(270deg, #000000, #002648, #002291, #191b93);
}
body, html{
    /* ISSE TEXT BEUTIFUL HO JAYEGA */
    font-family: "Playwrite AU VIC", cursive;   
}
/* JO TRIPLE LINES HAI YANI SIDENAVIGATION USME DESIGN KE LIYE */
.sidenav {
    height: 100%;
    width: 0;
    /* TAKI HOME PAGE PAR OPEN KRO YA CONTACT SABME OPEN HO JAYE */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0872afe6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;    
}
/* USKE ANDAR KE ELEMENT KAHI TELEPORT KAR SKE VO LINKS */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;   
} 
.sidenav a:hover {  
    color: #f1f1f1; 
} 
.sidenav .split:hover{
    font-size: 23px;  
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;    
}
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}   
}
/* PARENT_DIV01 */
#Parent_div01{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a73c1;
    color: whitesmoke;
    padding: 20px;
    text-align: center;    
    height: auto;    
}
/* ------------------Header ho gya khtm------------------ */
/* -----------------HomePage ho gya suru----------------- */
#homepage img{
    height: 770px;
    width: 433px;
    /* width: 500px; */
    margin: 25px;
}
#homepage{
    color: white;
    display: flex;
    justify-content: space-around;
}
@media (min-width:100px) and (max-width : 900px){
    #homepage img{
        height : 400px;
        width: 250px;
        margin: 1rem;
    }
    #homepage h1{
        align-items: center;
    }
}
#saman h1{
    font-size: 2rem;
    align-items: center;
    margin-top: 310px;
}
#element{
    color: #00e1ff;
}